body{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: url('../img/bg.jpg');
}
/*                                header              */
.header{
	height: 80px;
	border-bottom: 1px solid rgb(190, 190, 190);
	line-height: 80px;
	padding-bottom: 10px;
	padding-top: 10px;
	background: white;
}
.logo{
	font-size: 40px;
	font-weight: 200;
	margin-left: 10%;
}
.selectors span{
	padding: 10px;
	padding-top: 9px;
	display: block;
	float: left;
	color: rgb(37, 92, 131);
}
.selectors .selected{
	font-weight: bold;
}
.selectors select{
	border: none;
	font-size: 16px;
	color: rgb(37, 92, 131);
}
.selectors select:active{
	border: none;
	font-size: 16px;
}
.sc_b_head{
	width: 300px;
	margin-right: 10%;
	height: 70px;
	margin-bottom: 10px;
	height: inherit;
}
.sc_button{
	box-sizing: border-box;
	background: rgb(38, 169, 89);
	border-radius: 5px;
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	margin-left: 65%;
}
.sc_button a{
	text-decoration: none;
	color: white;
	display: block;
	height: 100%;
}
.sc_button a:visited{
	text-decoration: none;
	color: white;
}
/*                                content             */
.content{
	min-height: 95%;
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
}
.content_inner{
	display: inline-block;
	max-width: 80%;
}
.content_inner *{
	text-align: left;
}
/*                                coverblock             */
.cover_block{
	width: 120px;
	height: 180px;
	border: 1px solid grey;
	margin-right: 25px;
	margin-bottom: 25px;
	position: relative;
	overflow: hidden;
}
.cb_image{
	width: inherit;
	height: inherit;

}

.cb_buttons{
	height: 30px;
	line-height: 30px;
	border-top: 1px solid grey;
	background: white;
	position: absolute;
	width: inherit;
	bottom: 0;
	transition: transform 0.1s;
	transition: transform 0.1s;
	transition: transform 0.1s;
	transition: transform 0.1s;
	
	-moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
}
.cover_block:hover .cb_buttons{
	-moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
	bottom: 0;
}

.cd_but{
	width: 33%;
	height: inherit;
	text-align: center;
}
#fullPopupCover{
	width: 500px;
	height: 500px;
	position: fixed;
	top: 50px;
	right: 50px;
	border: 1px solid grey;
	background: white;
	transition: transform .2s;
}
#blackScreen{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	top: 0;
	left: 0;
}
.fpc_visible{
	transform: scale(1,1);
	visibility: visible;
}
.fpc_hidden{
	transform: scale(0,0);
	visibility: hidden;
}
#fpc_cover_img{
	width: 333px;
	height: inherit;
	background-size: 100%;
}
#fpc_cover_name{
	font-size: 20px;
	font-weight: bold;
	color: rgb(100, 100, 100);
	padding: 20px;
}
.sc_b_popup{
	margin: 10px;
	height: 40px;
	width: 125px;
	line-height: 40px;
}
/*                                footer              */
.footer{
	min-width: 5%;
}

/*                                utils               */
.f_l{
	float:left;
}
.f_r{
	float:right;
}
.hidden{
	display:none;
}
.visible{
	display:block;
}
.c_pointer{
	cursor: pointer;
}