<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Such covers!</title>
	<link href="../static/css/reset.css" type="text/css" rel="stylesheet"/>
    <link href="../static/css/main.css" type="text/css" rel="stylesheet"/>
    <script src="../static/js/main.js" async></script>
</head>
<body>
	<div class="header">
	
	</div>
	<div class="content">
		<div class="content_inner" id="ci">
			<div class="cover_block f_l">
				<div class="cb_image">
				
				</div>
				<div class="cb_buttons">
					<div class="cd_but f_l">л</div>
					<div class="cd_but f_l">ш</div>
					<div class="cd_but f_l">к</div>
				</div>
			</div>
			
			<div class="cover_block f_l">
				
			</div>
		</div>
	</div>
	<div class="footer">
	
	</div>

	
<div id="fullPopupCover" class="fpc_hidden">
	<div class="fpc_cover_img">
	
	</div>
	<div class="fpc_cover_description">
	
	</div>
	<div class="fpc_cover_buttons">
	
	</div>
</div>

</body>
</html>